<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body bgcolor=#333>
    <font color="white">
          <center><h1 class="">REGISTRATION SUCCESSFUL</h1>
            </div>
          </div>
          <br>
          <br>
          <br>

          <div class="inner cover">
            <h2 class="cover-heading">Thank You</h2>
            <p class="lead">You are Sucessfully Registered.You will recieve a confirmation email having a link to your QR Code.Please show your QR Code at the Entry.</p>
            <img src="https://media.istockphoto.com/vectors/registered-red-rubber-stamp-icon-on-transparent-background-vector-id891807544" width="150" height="150">
          </div>

          <div class="mastfoot">
            <div class="inner">
              <br><br><br>
              <br>
              <br>
              <br>
              <br>
              <p>Contact :- <a href="mailto:opensources.mr@gmail.com">Email</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </font>
</center>
  </body>
</html>
